<!DOCTYPE html>
<html>
<head>
    <title>Flight Event Management</title>
</head>
<body>
    <h1>Flight Event Management</h1>
    <div id="flight-info">
        <!-- Flight information will be inserted here -->
    </div>
</body>
</html>