<!DOCTYPE html>
<html>
  <head>
    <title>Airline Ticket Reservation</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>

  <body>
    <header>
      <img src="/images/airplane-header-image.jpg" alt="Airline" />
      <h1>Airline Ticket Reservation</h1>
    </header>

    <main>
      <form action="/flights/" method="POST" >
        <label class="" for="email">Email Address:</label>
        <input class="" type="email" id="email" name="email" />

        <label for="departDate">Departure Date:</label>
        <input type="date" id="departDate" name="departDate" />

        <div class="wrapper__checkbox">
          <input type="checkbox" id="roundTrip" name="roundTrip" />
          <label for="roundTrip">Round Trip</label>
        </div>

        <label for="returnDate" style="display: none">Return Date:</label>
        <input
          type="date"
          id="returnDate"
          name="returnDate"
          style="display: none"
        />

        <button type="submit">Reserve Ticket</button>
      </form>
    </main>

    <script src="/scripts/main.js"></script>
  </body>
</html>
