<!DOCTYPE html>
<html>
  <head>
    <title>Thank You</title>

    <link rel="stylesheet" href="/styles/main.css" />
  </head>

  <body>
    <header>
      <img src="/images/airplane-header-image.jpg" alt="Airline" />
      <h1>Airline Ticket Reservation</h1>
    </header>

    <main>
      <div class="message">
        <h2>Reservation Confirmed</h2>
        <p>Thank you! Your reservation has been confirmed.</p>
        <p>
          A confirmation email has been sent to your provided email address.
        </p>
      </div>

      <a href="/" class="button">Make Another Reservation</a>
    </main>
  </body>
</html>
